body{
	max-width: 940px; /*900px;*/
	margin: 0 auto;
	clear: both;
	overflow:auto;
	background-color:#EBEBEB;
	padding: 25px;
}

/*----------------------NAVIGATION-------------------------*/
#navigation{
	width: 110%;
	margin: 0px 0px 0px -60px;
	padding-bottom: 25px;
}

#navigation li{
	list-style-type: none;
	float: left;
}

#navigation a:link,a:visited{
	list-style-type:none;
	display:block;
	width: 188px;
	height: 30px;
	font-family: 'Racing Sans One', cursive;
	font-size: 1em;
	text-align: center;
	text-decoration:none;
	color: #ffffff;
	background: #f60;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');

}

#navigation a:hover,a:active {
	list-style-type:none;
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top, #f88e11, #f06015);
	filter: 		progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
	
}

.logo{
	list-style-type:none;
	display: block;
	width: 188px;
	height: 30px;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	text-align: center;
	
	
}

/*----------------------END NAVIGATION-------------------------*/

/*----------------------START BODY-------------------------*/


p{
	font: 'Helvetica Neue';
	color: #FFFFFF;
	font-size: 0.875em;
}

h1{
	font-family: 'Racing Sans One', cursive;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	font-size: 2em;
}

h2{
	font-family: 'Racing Sans One', cursive;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: left;
	font-size: 1.5em;
}

#form h2{
	font-family: 'Racing Sans One', cursive;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
}


#fullpage{
	padding: 2.222222%;/*20px;*/
	background: url(../images/blue-bg.jpg);
	width: 95.744680851064%;
	clear: both;
	overflow: hidden;
	position: relative;
	
}



#stats{
    width: 66.6666666667%; /*600px;*/
    float: right;
	margin: 0 auto;
    }
	
.heading2{
	text-align:center;
}


#bottom{
	columns:286px 3;
	-webkit-columns: 286px 3;
	-moz-columns: 286px 3;
	margin-top: 40px;
	margin: 0 auto;
	overflow: hidden;
	

} 

/*----------------------END BODY--------------------------*/


/*----------------------START GALLERY--------------------------*/

#wrapper{
	width: 100%; /*900px;*/
	margin: 0 auto;
	overflow: hidden;
}


.gallery{
	float: left;
	width: 33.333333%;
	margin: auto ;
}

.gallery-text{
	text-align:center;
	
}

.thumb {
	border: .3em solid white;
	width: 34%;
	height: 33.33333%;
	float: left;
	margin-top: 2.439024390244%;
	margin-right: 2.439024390244%;
}

.thumb img{
	max-width: 100%;
}

.thumb a:visited{
	border-color: red;
}

.thumb a:hover{
	border-color: orange;
}

.thumb a:active{
	border-color: purple;
}


/*----------------------END GALLERY--------------------------*/

/*------------FORM----------------*/
#form {
	float: right;
	width: 30%; 
	margin: 0 25px 25px 25px;
	padding: 5px;
	font: 'Helvetica Neue';
	color: #000000;
	font-size: 0.875em;
	background: #c9d0de; border: 1px solid #e1e1e1;
	-moz-box-shadow: 0px 0px 8px #444;
	-webkit-box-shadow: 0px 0px 8px #444;
}

table,td,th
{
background: #c9d0de; border: 1px solid #e1e1e1;
	-moz-box-shadow: 0px 0px 8px #444;
	-webkit-box-shadow: 0px 0px 8px #444;
	margin: 10px 0 0 0;
}
table
{
width:60%;
}
th
{
height:50px;
}

/*----------------------START FOOTER--------------------------*/

#footer {
	background-color:  #f60;
	position: absolute;
	bottom:0;
	left:0;
	font-family: 'Racing Sans One', cursive;
	text-align:center;
	color: #FFFFFF;
	width: 100%; /*940px;*/
	height: 1.9em;
	overflow: hidden;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
}

/*--------------Media Quieries------------------------*/

@media screen and (min-width: 768px) and (max-width: 899px) {
  body {
    
  }
  
  #navigation a {
    
  }
 
 

  #stats{
	float: none;
}

  #bottom{
		float: none;
	}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
   
  }
  
  h2{
	  text-align:center;
  }
  
  #navigation li{
    
	float: none;
	margin: 0 auto;
  }
  
   #navigation a{
	float: none;
	margin: 0 auto;
	width: 100%;
  }
    #fullpage {
	  float: none;
	  width: 100%;
	  margin-top: 0;
	  margin-right: 0;
 
}


  #stats{
	float: none;
	width: 98%;
}

  #bottom{
		float: none;
	}
	
	#wrapper{
		float: none;
		margin: 0;
	}
	
	.gallery{
		float: none;
		
	}
	
	table{
		display: none;
	}
	
	#form{
		display: none;
	}
	
	.thumb{
		float: none;
		margin: 0 auto;
	}
}
	
@media screen and (max-width: 479px) {
  body {
    
  }
  
  h2{
	  text-align:center;
  }
  
  #navigation li{
    
	float: none;
	margin: 0 auto;
  }
  
   #navigation a{
   
	float: none;
	margin: 0 auto;
	width: 100%;
  }
    #fullpage {
	  float: none;
	  width: 100%;
	  margin-top: 0;
	  margin-right: 0;
 
}


  #stats{
	float: none;
	width: 98%;
}

  #bottom{
		float: none;
	}
	
	#wrapper{
		float: none;
		margin: 0;
	}
	
	.gallery{
		display: none;
	}
	
	table{
		display: none;
	}
	
	table h2{
		display: none;
	}
	
	#form{
		display: none;
	}
	
	.thumb{
		float: none;
		margin: 0 auto;
	}
}
