/*----------------------NAVIGATION-------------------------*/

#navigation ul{
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	width: 782px;
	height: 30px;
	clear: both;
	text-align: center;
}

#navigation li{
	list-style-type: none;
	float: left;
	margin: 0 auto;
}

#navigation a:link,a:visited{
	list-style-type:none;
	display: list-item;
	width: 150px;
	height: 30px;
	font-family: 'Racing Sans One', cursive;
	text-align: center;
	text-decoration:none;
	color: #ffffff;
	background: #f60;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');

}

#navigation a:hover,a:active {
	list-style-type:none;
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top, #f88e11, #f06015);
	filter: 		progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

.logo{
	list-style-type:none;
	display: block;
	width: 180px;
	height: 30px;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	text-align: center;
}

/*----------------------END NAVIGATION-------------------------*/

/*----------------------START BODY-------------------------*/

body {
	margin:0;
	padding:0;
	border:0;
	width:100%;
	background:#fff;
	min-width:750px;
	font-size:100%;
}

p{
	font: helvetica;
	color: #FFF;
	font-size: 0.875em;
}

h1{
	font-family: 'Racing Sans One', cursive;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	font-size: 2em;
}

h2{
	font-family: 'Racing Sans One', cursive;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: left;
	font-size: 1.5em;
}


.fullpage{
	position: relative;
	clear: both;
	float: left;
	width: 100%;
	overflow: hidden;
}

.col1{
	margin-left: auto;
	margin-right: auto;
	width: 49%;
	padding: 40px;
	background: url(../images/blue-bg.jpg);
}

#stats{
    width: 400px;
    float: right;
	margin-top: -315px;
    }
	
#bottom{
	columns:200px 3;
	-webkit-columns:200px 3;
	-moz-columns: 200px 3;
	margin-top: 40px;
} 

/*----------------------END BODY--------------------------*/


/*----------------------START GALLERY--------------------------*/

#gallery ul{
	list-style-type: none;
	width: 300px;
	overflow: hidden;
	padding: 3px;
	margin-top: -10px;
	margin-left: -10px;
	clear: both;
}

#gallery li{
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}

#gallery a{
	border: 5px solid navy;
	display: block;
	height: 100px;
	width: 100px;
	outline: 0;
}

#gallery a:visited{
	border-color: red;
}

#gallery a:hover{
	border-color: orange;
}

#gallery a:active{
	border-color: navy;
}

/*----------------------END GALLERY--------------------------*/

/*----------------------START FOOTER--------------------------*/

#footer {
	clear: both;
	background-color:  #f60;
	margin: 0 auto;
	padding: 0;
	font-family: 'Racing Sans One', cursive;
	text-align:center;
	color: #FFFFFF;
	width: 782px;
	height: 30px;
	overflow: hidden;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
}